# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
fapienv/
env/

# Environment variables
.env

# Database
*.db

# Logs
*.log

# VS Code
.vscode/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db
